.wine {
  width: 37px;
}

.milk {
  margin-left: 5px;
  width: 37px;
}

.jam {
  margin-left: 2px;
  width: 46px;
}

.cheese {
  margin-left: 9px;
  width: 36px;
}

.meat {
  width: 49px;
}

.chicken {
  width: 55px;
}

.chicken img {
  object-position: 0 -1px;
}

.chips {
  width: 76px;
  margin-left: 14px;
}

.chips img {
  object-position: 0 5px;
  overflow: visible;
}

.pineapple {
  width: 35px;
  margin-left: 16px;
}

.banana {
  width: 47px;
}

.apple {
  width: 31px;
}

.salad {
  width: 62px;
}