.showcase {
  margin: 1.75rem auto 0;
  width: 212px;
  padding-bottom: 118px;
}

.showcase__image {
  background-image: url('/images/Showcase.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
